body {
  margin: 0;
  font-family: Arial;
  background: pink;
  text-align: center;
}

/* Loader */
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  z-index: 999;
}

/* Main */
#main {
  display: none;
}

/* Navbar */
nav {
  background: hotpink;
  padding: 10px;
}

nav a {
  color: white;
  margin: 8px;
  cursor: pointer;
  font-weight: bold;
}

/* Pages */
.page {
  display: none;
  padding: 20px;
}

.active {
  display: block;
}

/* Cards */
.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

/* Gallery */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.grid img {
  width: 100%;
  border-radius: 8px;
}

/* Video */
video {
  width: 90%;
  margin: 10px;
}

/* Buttons */
button {
  padding: 10px 20px;
  margin: 10px;
  background: hotpink;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

/* Popup */
#popup {
  display: none;
  background: white;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
}

/* Ring Box */
#ringBox {
  display: none;
  flex-direction: column;
  align-items: center;
}

/* Hearts */
.heart {
  position: fixed;
  color: red;
  font-size: 20px;
  animation: fall 3s linear infinite;
}

@keyframes fall {
  0% { top: -10px; }
  100% { top: 100vh; }
}
