*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#ffe6f0;
scroll-behavior:smooth;
}

/* Loader */
#loader{
position:fixed;
inset:0;
background:pink;
display:flex;
justify-content:center;
align-items:center;
font-size:25px;
z-index:9999;
}

/* Navbar */
nav{
position:fixed;
top:0;
width:100%;
background:white;
display:flex;
justify-content:center;
gap:15px;
padding:10px;
z-index:100;
}

nav a{
text-decoration:none;
color:#d81b60;
font-weight:600;
}

/* Section */
.section{
min-height:100vh;
padding:100px 20px;
text-align:center;
}

.soft{
background:#fff0f5;
}

/* Home */
.hero{
background:url("assets/images/couple2.jpg") center/cover;
min-height:100vh;
position:relative;
color:white;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,0.6);
}

.hero-content{
position:relative;
z-index:2;
padding-top:200px;
}

.hero p{
font-size:22px;
margin:20px;
}

.hero button{
padding:12px 25px;
border:none;
border-radius:25px;
background:pink;
font-size:18px;
}

/* Cards */
.card,.letter,.song{
background:white;
padding:20px;
border-radius:15px;
margin:15px;
box-shadow:0 0 10px #ccc;
}

/* Gallery */
.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
gap:15px;
}

.gallery img{
width:100%;
border-radius:15px;
}

/* Videos */
.video-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

video{
width:100%;
border-radius:15px;
}

/* Music */
.music-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.song img{
width:100%;
border-radius:15px;
}

/* Quotes */
.quote{
background:url("assets/images/couple.jpg") center/cover;
min-height:100vh;
position:relative;
color:white;
}

.quote-box{
position:relative;
z-index:2;
padding-top:250px;
}

/* Memories */
.memory-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.memory img{
width:100%;
border-radius:15px;
}

/* Final */
.final{
background:#111;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.buttons button{
padding:15px 25px;
border:none;
border-radius:25px;
margin:10px;
background:pink;
font-size:18px;
}

/* Popup */
#popup{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:white;
padding:25px;
border-radius:15px;
display:none;
z-index:9999;
}

/* Ring */
#ringBox{
position:fixed;
inset:0;
background:black;
display:none;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
z-index:9999;
}

#ringBox img{
width:200px;
margin-bottom:20px;
  }

